<h1>Grpc Client Application</h1>
<p>This application is built with Angular and Asp Net Core 3.0</p>

<p>To create a connection with the grpc Server the .propo file that is mapped 1:1 with the server had to be added in this project as well</p>

